In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [5]:
runs=pd.read_csv('./fulldata_LSTM10.csv', index_col=0)

In [6]:
runs

         mape      rmse     B
1    0.351456  0.569842   1.0
2    0.361865  0.569881   1.0
3    0.367815  0.576082   1.0
4    0.380965  0.587562   1.0
5    0.386248  0.601732   1.0
..        ...       ...   ...
266  0.730268  1.084122  27.0
267  0.735743  1.094037  27.0
268  0.744208  1.101123  27.0
269  0.746252  1.106176  27.0
270  0.739228  1.103388  27.0

[270 rows x 3 columns]

In [7]:
runs = runs.rename({'mape':'mae'}, axis=1)

In [8]:
runs

          mae      rmse     B
1    0.351456  0.569842   1.0
2    0.361865  0.569881   1.0
3    0.367815  0.576082   1.0
4    0.380965  0.587562   1.0
5    0.386248  0.601732   1.0
..        ...       ...   ...
266  0.730268  1.084122  27.0
267  0.735743  1.094037  27.0
268  0.744208  1.101123  27.0
269  0.746252  1.106176  27.0
270  0.739228  1.103388  27.0

[270 rows x 3 columns]

In [9]:
runs.to_csv('./fulldata_LSTM10.csv')